.container-fluid {
    max-width: 1280px;

    input[role=button] {
        cursor: pointer;
    }

    button {
        margin: 0 5px;
    }

    table {
        margin-top: 2rem;

        td, tr {
            height: 63px;
        }
    }
}
